*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#mesa{
  width: 320px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  height: 40px;
  width: 40px;
}
.bege{
  background-color: rgb(110,110,98);
}

.marrom{
  background-color: rgb(169, 43, 43);
}